body {
    display: flex;
    background: url(./../images/background.jpg);
    background: cover;
    justify-content: center;
}


/* @media all and (min-width:992px){
  
  .parent{flex: 1}
  
} */


/* .parent{
    margin-left: 200px;
    margin-right: 20px;
  } */


/* @media all and(min-width:692px){
  .parent{flex: 1}
  .r{order: 2;}
  .l{order: 1;} 
} */

.parent {
    margin: 20px;
    padding-top: 2px;
    display: flex;
    -webkit-flex-flow: column wrap;
    /* Or whatever */
    /* padding-top: 50px;
    padding-block-end: 8%;
    width: auto;
    display: flex;
    justify-content: center; */
}

.child {
    background-color: white;
    border: 0.5px solid gray;
    -webkit-flex-flow: column wrap;
}

.child {
    box-shadow: 10px 10px 5px grey;
    -webkit-flex-flow: column wrap;
}

.navigation,
.c-navigation,
.co-navigation {
    list-style: none;
    background: white;
    display: flex;
    justify-content: center;
    border: 0.1px;
    outline-style: solid;
    outline-color: lightgray;
    outline-width: thin;
}

.navigation a,
.c-navigation a,
.co-navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
}


/* @media all and(min-width:491px){
  .co-navigation{order:1}
  .pro-navigation{order: 0}
} */


/* 
@media all and (max-width: 480px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: row-reverse;
    padding: 0;
  }
} */


/* @media all and (max-width: 992px) {
.parent{flex-flow: column}
  .item{
    display:none
  }
  .navigation, .c-navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
.navigation a{ 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  .navigation li:last-of-type a, .c-navigation {
    border-bottom: none;
  }
 
} */

.navigation a:hover {
    background-color: none;
}

.foo {
    border: 0.5px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.l {
    /* justify-content: flex-end; */
    background-color: lightgrey;
}

.icon {
    align-self: center;
    background-color: black;
    color: aliceblue;
}

.card-navigation a,
.pro-navigation a {
    outline-style: solid;
    outline-color: white;
    outline-width: thin;
}

.pro-navigation a {
    outline-color: silver;
    background-color: lavender;
}

img {
    height: 130px;
    width: 170px;
}

.card-navigation {
    display: flex;
    flex-direction: column;
}

.c-navigation {
    -webkit-flex-flow: column wrap display: flex;
    justify-content: center;
    /* justify-content:space-evenly; */
}

.input {
    flex-direction: column;
    display: flex;
}

.input-space {
    margin-top: 10px;
}

.input-short {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    /*inline-size: 136px*/
}

.button-success {
    margin-top: 20px;
    background-color: rgb(70, 216, 70);
    color: aliceblue;
    height: 40px;
}

.ico {
    height: 40px;
    width: 50px;
    justify-content: flex-start;
    display: flex;
    border: 10px solid lightgrey;
}

.t-navigation {
    -webkit-flex-flow: column wrap background-color: lavender;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.txt {
    padding-left: 3%;
}

.right-top {
    margin-left: 250px;
}

@media all and (max-width:700px) {
    .parent {
        float: 1;
        -webkit-flex-flow: column wrap
    }
    .right {
        order: 2;
    }
    .left {
        order: 3;
    }
}