body {
    display: flex;
    background: url(./../images/background.jpg);
    background: cover;
    justify-content: center;
}

.parent {
    margin: 20px;
    padding-top: 2px;
    display: flex;
    -webkit-flex-flow: column wrap;
}

.child {
    background-color: white;
    border: 0.5px solid gray;
    -webkit-flex-flow: column wrap;
    box-shadow: 10px 10px 5px grey;
    -webkit-flex-flow: column wrap;
}

.navigation,
.cards {
    list-style: none;
    background: white;
    display: flex;
    justify-content: center;
    border: 0.1px;
    outline-style: solid;
    outline-color: lightgray;
    outline-width: thin;
}

.navigation a,
.cards a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
}


/* .left {
    flex-grow: 0.6;
} */

.right {
    flex-grow: 0.4;
    background-color: lightgrey;
}

.checkout {
    flex-grow: 0.1;
}

.payment a {
    outline-style: solid;
    outline-color: white;
    outline-width: thin;
}

img {
    height: 130px;
    width: 170px;
}

.payment {
    display: flex;
    flex-direction: column;
}

.cards {
    -webkit-flex-flow: column wrap;
    display: flex;
    justify-content: center;
    /* justify-content:space-evenly; */
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}