body {
    background: cover;
    display: flex;
    justify-content: center;
}

.parent {
    margin: 20px;
    padding-top: 5%;
    display: flex;
    height: auto;
    flex-direction: column;
}

.navigation {
    list-style: none;
    margin: 0;
    background: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    border: 0.1px;
    outline-style: solid;
    outline-color: lightgray;
    outline-width: thin;
    box-shadow: 10px 10px 5px grey;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.left {
    flex-grow: 0.6;
}

.right {
    flex-grow: 0.4;
    background-color: lightgrey;
}

.checkout {
    flex-grow: 0.1;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}